@charset "UTF-8";
/* CSS Document */

html {
  height: 100%;
  font-size: 9px;

}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	max-width: 100%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: none;
	margin: 0;
}
.gradient {
	width: 100%;
	height: 100%;
	background: -moz-linear-gradient(left,  rgba(33,33,33,0.65) 0%, rgba(33,33,33,0.33) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(left,  rgba(33,33,33,0.65) 0%,rgba(33,33,33,0.33) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to right,  rgba(33,33,33,0.65) 0%,rgba(33,33,33,0.33) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6212121', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}

h1 {
	color: #fff;
	font-size: 40px;
	font-weight: 100;
	padding-left: 20px;
	margin: 50px 0 0 0;
}

h2 {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	padding-left: 20px;
	margin: 10px 0;
}


.bg {

background: -moz-linear-gradient(top,  rgba(33,33,33,0.65) 0%, rgba(33,33,33,0.33) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(33,33,33,0.65) 0%,rgba(33,33,33,0.33) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(33,33,33,0.65) 0%,rgba(33,33,33,0.33) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6212121', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


	width: 100%;
	border-radius: 3px;
	padding: 20px 0 0 0; 
	/* -webkit-animation: zoomfade 850ms; /* Safari, Chrome and Opera > 12.1 */
      /* -moz-animation: zoomfade 850ms;  Firefox < 16 */
       /* -ms-animation: zoomfade 850ms;  Internet Explorer */
       /*   -o-animation: zoomfade 850ms; Opera < 12.1 */
            /* animation: zoomfade 850ms; */
			
}


.bg a{
	text-decoration: none;
	
}



@keyframes zoomfade {
    from { opacity: 0; transform: scale(1.5) }
    to   { opacity: 1; transform: scale(1) }
}

/* Firefox < 16 */
@-moz-keyframes zoomfade {
    from { opacity: 0; transform: scale(1.5) }
    to   { opacity: 1; transform: scale(1) }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes zoomfade {
    from { opacity: 0; transform: scale(1.5) }
    to   { opacity: 1; transform: scale(1) }
}

/* Internet Explorer */
@-ms-keyframes zoomfade {
    from { opacity: 0; transform: scale(1.5) }
    to   { opacity: 1; transform: scale(1) }
}

/* Opera < 12.1 */
@-o-keyframes zoomfade {
    from { opacity: 0; transform: scale(1.5) }
    to   { opacity: 1; transform: scale(1) }
}


.signin {
	border: 0;
	margin: 5px 0 0 50px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.25);
	opacity: 1;
	background: #F44336;
	height: 25px;
	width: 100px;
	border-radius: 120px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-size: 13px;
	font-family: 'Roboto', sans-serif;
   font-weight: 300;
   	transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
	
}

form {
	margin: 20px 0;
	text-align: left;
	color: white;
	font-size: 12px;
	padding-left: 20px;
	font-weight: 300;
}

input {
	margin: 5px 0;
	border: 0;
	border-radius: 1px;
	height: 30px;
	width: 200px;
	background: #ECECEC;
	opacity: 0.5;
	text-align: center;
	font-size: 20px;
	font-family:'Roboto', Helvetica, Arial, sans-serif;
}



.signin:hover {
	/* background: rgba(0,0,0,0.1);
	border: #F44336 solid 2px; */
	background: #D32F2F;
	border: #F44336 solid 1px;
	
}

.logocontent {
	height: 100%;
}

.loginbox {
	margin-left: 40px;
	width: 40%;
	height: 100%;
	vertical-align: center;
}

.version {
	text-align: right;
	padding: 0 40px;
	color: rgba(255,255,255,0.0);
}

@media only screen and (max-width: 600px) {
	
	body {
		background-position: center;
		min-width: 330px;
	}	
}
