@charset "UTF-8";
/* CSS Document */

body {
	background: #e1e1e1;
	margin: 0;
}

.header {
	background: #D63234;
	height: 75px;
	width: 100%;
	margin: 0;
	border: 0;
	box-shadow: 0px 0px 100px rgba(0,0,0,0.50);
}

.covers {
	margin: 5px 0 0 0;
	max-width: 1000px;
}

.cover {
	margin: 10px;
	height: 200px;
	width: 142px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.25);
	opacity: 0.80;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.cover:hover {
	opacity: 1.0;
	box-shadow: 0px 5px 30px rgba(0,0,0,0.4);
}

a {
	text-decoration: none;
}

.off {
	visibility: hidden;
	display: none;
}

@media only screen and (max-width: 600px) {

.covers {
	margin: 10px 0 0 0;
}
.cover {
	margin: 10px 10px;
	height: 100px;
	width: 71px;
	box-shadow: 0px 5px 30px rgba(0,0,0,0.4);
	opacity: 1.0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.cover:hover {
	opacity: 1.0;
	box-shadow: 0px 5px 30px rgba(0,0,0,0.4);
}

}